body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: DFD3C3;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px 30px;
  grid-template-areas: "header header header header" "section-1 section-1 aside aside" "nav nav nav nav" "footer footer footer footer"; }

.section1 {
  grid-area: section-1;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: D0B8A8;
  border-radius: 20px;
  font-family: 'Itim', cursive; }

.header {
  grid-area: header;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex; }

.aside {
  grid-area: aside;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: D0B8A8;
  border-radius: 20px; }

.nav {
  grid-area: nav; }

.footer {
  grid-area: footer;
  background-color: 85586F; }

.imagen-titulo {
  width: 1335px;
  height: 340px;
  margin-left: 5px;
  margin-top: 5px; }

.Imagen1 {
  width: 170px;
  height: 150px;
  position: absolute;
  top: 30px;
  left: 50px; }

h4 {
  margin-left: 10px;
  margin-top: 10px; }

.texto {
  font-family: 'Itim', cursive;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px; }

.Parte {
  margin-top: 30px;
  font-family: 'Itim', cursive;
  margin-left: 20px;
  margin-right: 20px; }

.Menu {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 40px;
  margin-left: 150px;
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: D0B8A8;
  border-radius: 15px; }

.Menu li {
  display: inline-block;
  text-align: center;
  margin: 10px; }

.Menu li a {
  text-decoration: none; }

.Menu a:hover {
  background-color: #fffefe; }

.imagencircuito {
  width: 500px;
  height: 250px;
  margin-left: 50px;
  margin-top: 54px; }

.Imagen-fotos {
  width: 1200px;
  height: 450px;
  margin-left: 60px;
  border-color: black;
  border-style: outset; }

.Imagen-fotos {
  margin-right: 130px; }

.carousel-control-next {
  margin-right: 65px; }

.nav h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #b5d4f0;
  position: absolute;
  top: 218%;
  left: 80%; }

.footer {
  background-color: D0B8A8; }

.facebook {
  width: 60px; }

.instagram {
  width: 40px; }

.twitter {
  width: 40px;
  margin-left: 10px; }

.paginaweb {
  width: 40px;
  margin-left: 10px; }

.bodyinformacion {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: FAAB78;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header" "header header header header" "main main main main" "div div aside aside" "footer footer footer footer"; }

.Imagen-1 {
  width: 160px;
  height: 130px;
  position: absolute;
  top: 10px;
  left: 10px; }

.PrimerPlano {
  grid-area: header;
  background-color: D1FFF3; }

.informacion {
  grid-area: main;
  margin-top: 200px;
  font-family: 'Itim', cursive;
  margin-left: 8px; }

.division {
  grid-area: div;
  margin-top: 50px;
  margin-right: 30px;
  border-radius: 5px;
  background-color: FFD495;
  margin-left: 5px;
  font-family: 'Itim', cursive; }

.costado {
  grid-area: aside;
  margin-top: 50px;
  margin-right: 10px;
  background-color: FFD495;
  border-radius: 5px;
  font-family: 'Itim', cursive; }

.footerinformacion {
  margin-top: 20px;
  grid-area: footer;
  background-color: FFD495; }

.presentacion {
  margin-top: 20px; }

.fauna {
  margin-top: 10px;
  margin-left: 10px; }

.ambientes {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px; }

.menu-paginas {
  padding: 0;
  list-style: none;
  margin-top: 60px;
  margin-left: 100px;
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: FFD495;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px; }

.menu-paginas li {
  display: inline-block;
  text-align: center;
  margin: 10px; }

.menu-paginas li a {
  text-decoration: none; }

.bodyubicacion {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  background-color: 9F8772; }

.headerUbicacion {
  grid-area: header; }

.mainubicacion {
  grid-area: main;
  background-color: B99B6B;
  margin-top: 200px; }

.footerubicacion {
  grid-area: footer; }

.menu-ubicacion {
  padding: 0;
  list-style: none;
  margin-top: 60px;
  margin-left: 100px;
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: B99B6B;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px; }

.menu-ubicacion li {
  display: inline-block;
  text-align: center;
  margin: 10px; }

.menu-ubicacion li a {
  text-decoration: none; }

.mapa {
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Itim', cursive; }

.textomapa {
  margin-left: 100px;
  font-family: 'Itim', cursive; }

.logoubicacion {
  width: 170px;
  height: 150px;
  position: absolute;
  top: 15px;
  left: 50px; }

.mapa1 {
  margin-top: 30px;
  margin-left: 100px; }

.tituloubicacion {
  margin-left: 100px;
  margin-top: 40px;
  font-family: 'Itim', cursive;
  font-size: 18px; }

.bodyactividades {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header" "header header header" "main main main" "footer footer footer";
  background-color: 658864; }

.headeractividades {
  grid-area: header; }

.mainactividades {
  grid-area: main;
  font-family: "Itim", cursive;
  font-size: 15px;
  background-color: B7B78A;
  margin-top: 260px; }

.menu-actividades {
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 80px;
  margin-left: 100px;
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: B7B78A;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.menu-actividades li {
  display: inline-block;
  text-align: center;
  margin: 10px; }

.menu-actividades a {
  text-decoration: none; }

.sector1 {
  font-family: "Itim", cursive;
  font-size: 15px; }

.asideactividades {
  font-family: "Itim", cursive;
  font-size: 15px; }

.sector2 {
  font-family: "Itim", cursive;
  font-size: 15px; }

.sector3 {
  font-family: "Itim", cursive;
  font-size: 15px; }

.footeractividades {
  grid-area: footer;
  background-color: 658864;
  margin-top: 10px; }

.imagenactividades {
  width: 200px;
  margin-left: 10px;
  border: 5px;
  border-style: inset;
  border-color: black;
  margin-top: 40px; }

.textoactividades {
  margin-left: 15px; }

.bodycontacto {
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "footer";
  background-color: BDCDD6; }

.headercontacto {
  grid-area: header; }

.maincontacto {
  grid-area: main;
  margin-top: 240px;
  background-color: EEE9DA; }

.footercontacto {
  grid-area: footer;
  background-color: BDCDD6; }

.menu-contacto {
  padding: 0;
  list-style: none;
  margin-top: 60px;
  margin-left: 100px;
  position: absolute;
  left: 50%;
  text-align: center;
  background-color: EEE9DA;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px; }

.menu-contacto li {
  display: inline-block;
  text-align: center;
  margin: 10px; }

.menu-contacto li a {
  text-decoration: none; }

.textocontacto {
  font-family: "Itim", cursive;
  font-size: 14px; }

.nombre {
  margin-right: 200px; }

.titulocontacto {
  font-family: "Itim", cursive; }

.form-control {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }
