body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 3C6255;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 50px 30px; 
    grid-template-areas: 
      "header header header header"
      "section-1 section-1 aside aside"
      "nav nav nav nav"
      "footer footer footer footer"
      ;
}

.section1 { grid-area: section-1;
margin-top: 10px;
margin-left: 40px;
margin-right: 40px;
margin-bottom: 30px;
background-color:A6BB8D;
border-radius: 20px;
font-family: 'Itim', cursive;

}

.header { grid-area: header; 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
}



.aside { grid-area: aside;
margin-top: 10px;
margin-left: 30px;
margin-right: 40px; 
margin-bottom: 30px;
background-color: A6BB8D;
border-radius: 20px;
}


.nav { grid-area: nav; 

}



.footer { grid-area: footer; 

}


.imagen-titulo{
    width: 1325px;
    height: 320px;
    margin-left: 10px; 
    margin-top: 5px;

}

.Imagen1 {
    width: 170px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 50px;
}

h4 {
    margin-left: 10px;
    margin-top: 10px;
}

.texto {
    font-family: 'Itim', cursive;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.Parte {
    margin-top: 30px;
    font-family: 'Itim', cursive;
    margin-left: 20px;
    margin-right: 20px;
    
}

.Menu {
   padding: 0;
   list-style: none;
   display: flex;
   margin: 40px;
   margin-left: 150px;
   position: absolute;
   left: 50%;
   text-align: center;
   background-color:EAE7B1;
   border-radius: 15px;
}

.Menu li {
  display:inline-block;
  text-align: center;
  margin: 10px;
  
 
}

.Menu li a {
  text-decoration: none;

}
  
.Menu a:hover{
    background-color: rgb(255, 254, 254);
}

.imagencircuito {
    width: 500px;
    height: 250px;
    margin-left: 47px;
    margin-top: 54px;
    
}

.Imagen-fotos {
    width: 1200px;
    height: 450px;
    margin-left: 60px;
    border-color: black;
    border-style: outset;

}

.Imagen-fotos{
 margin-right: 130px;
}

.carousel-control-next{
    margin-right: 65px;
 }

.nav h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(181, 212, 240);
    position: absolute;
    top: 218%;
    left: 80%;
}



.bodyinformacion {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color:FFD495;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
          "header header header header"
          "header header header header"
          "main main main main"
          "div div aside aside"
          ; 
      }
      

 .Imagen-1 {
        width: 160px;
        height: 130px;
        position: absolute;
        top: 10px;
        left: 10px;
    }



 .PrimerPlano {
    grid-area: header; 
    background-color: D7E9B9;
    
    
  }

.informacion {
    grid-area: main;
    margin-top: 200px;
    font-family: 'Itim', cursive;
    margin-left: 8px;

}


.division {
grid-area: div;
margin-top: 50px;
margin-right: 30px;
border-radius: 5px;
background-color: E8F3D6;
margin-left: 5px;
}

.costado {
    grid-area: aside;
    margin-top: 50px;
    margin-right: 10px;
    background-color: FCF9BE;
 border-radius: 5px;
}

.presentacion{
    margin-top: 20px;
}

.fauna {
    margin-top: 10px;
    margin-left: 10px;
}

.ambientes{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
}

.menu-paginas{
   padding: 0;
   list-style: none;
   margin-top: 60px;
   margin-left: 100px;
   position: absolute;
   left: 50%;
   text-align: center;
   background-color: FAAB78;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-radius: 15px;
 
}

.menu-paginas li {
    display:inline-block;
    text-align: center;
    margin: 10px;
    
  
}

.menu-paginas li a {
    text-decoration: none;
}


.sectiontexto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




